<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= form_tag '', :method => :get do %>
    <%= text_field_tag 'query', @query %>
    <%= submit_tag 'Parse' %>
<% end %>
Regular expressions : <%= @parsed.expression %>
<%= render 'show_expr', :expr => @parsed %>