<% @comparisons.each do |c, l| %>
    <div>
      <div><%= c %></div>
      <div>
        <ul>
          <% l.each do |k, v| %>
              <li> <%= k %> - <%= v %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>

History of the transformation for <%= @start %> to <%= @end %></br>
<% if @transformation.nil? %>
    cannot transform sorry
<% else %>
    <div>
      <% @transformation.each do |step| %>
          <div>
            <div style="width: 300px;display: inline-block"><%= step[:node].to_readable %></div>
            <div style="width: 400px;display: inline-block"><%= step[:operation] %></div>
          </div>
      <% end %>
    </div>
<% end %>
<br>